<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Control.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/Keylogo.png') }}" alt="Logo Key" style="max-width: 100%; height: auto;">
        </div>
        <ul class="nav-list">
            <li><a href="{{ url_for('registro') }}"><i class="icon"></i>Registro</a></li>
            <li><a href="#"><i class="icon"></i>Reporte</a></li>
            <li><a href="#"><i class="icon"></i>Cerrar sesión</a></li>
        </ul>
    </div>

    <div class="content">
        <h1>Bienvenido al panel de control</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/control.js') }}"></script>
</body>
</html>
