<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>TrackIt Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Bootstrap CSS (ya debes tenerlo) -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

        <!-- Bootstrap-Select CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">

        <!-- jQuery (necesario para selectpicker) -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Bootstrap-Select JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">TrackIt Admin</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <!-- <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div> -->
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <!-- <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li> -->
                        <li><a class="dropdown-item" href="#!">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Administrar</div>
                            <a class="nav-link" href="{{url_for('control_panel_bp.Control_Panel')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Panel de Control
                            </a>
                            <div class="sb-sidenav-menu-heading">Módulos</div>
                            <a class="nav-link" href="{{url_for('lost_objects_bp.Lost_Objects')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Objetos Perdidos
                            </a>
                            <a class="nav-link" href="{{url_for('found_objects_bp.Found_Objects')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Objetos Encontrados
                            </a>
                            <!-- <a class="nav-link" href="{{url_for('found_objects_bp.Found_Objects')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Objetos Encontrados
                            </a> -->
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Objetos Encontrados</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Módulos</a></li>
                            <li class="breadcrumb-item active">Objetos Encontrados</li>
                        </ol>
                        <!-- CONTENIDO PRINCIPAL -->
<div class="row mb-4">
    <!-- Texto -->
    <div class="col-md-9 col-sm-12">
        <div class="card">
            <div class="card-body">
                Listar y registrar objetos encontrados.
            </div>
        </div>
    </div>

    <!-- Botón alineado a la derecha -->
    <div class="col-md-3 col-sm-12 d-flex align-items-center justify-content-between">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reportModal">
            Reportar Objeto Encontrado
        </button>
    </div>
</div>

<!-- Modal CORRECTO -->
<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportModalLabel">Reportar Objeto Encontrado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <!-- Aquí va el formulario real -->
                <form method="POST" action="/Found_Objects" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="object_name" class="form-label">Nombre del objeto</label>
                        <input type="text" class="form-control" maxlength="100" name="object_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="object_description" class="form-label">Descripción</label>
                        <textarea class="form-control" name="object_description" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="category_id" class="form-label">Categoría</label>
                        <select class="form-control" name="category_id">
                            {% for cat in category %}
                            <option value="{{ cat.category_id }}">{{ cat.category_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="found_place" class="form-label">Lugar donde se encontró</label>
                        <input type="text" maxlength="100" class="form-control" name="found_place" required>
                    </div>
                    <div class="mb-3">
                        <label for="student" class="form-label">Usuario que reporta</label>
                        <select class="form-control" name="student">
                            {% for user in users %}
                                <option value="{{ user.user_id }}">{{ user.user_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="object_image" class="form-label">Imagen del objeto</label>
                        <input type="file" class="form-control" name="object_image" accept="image/*" required>
                    </div>
                    <div class="mb-3">
                        <label for="extra_comments" class="form-label">Comentarios Adicionales</label>
                        <textarea class="form-control" name="extra_comments" rows="3"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Objetos Encontrados
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Objeto</th>
                                            <th>Categoria</th>
                                            <th>Lugar Encontrado</th>
                                            <th>Fecha Encontrado</th>
                                            <th>Persona que reporta</th>
                                            <th>Estado del objeto</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Objeto</th>
                                            <th>Categoria</th>
                                            <th>Lugar Encontrado</th>
                                            <th>Fecha Encontrado</th>
                                            <th>Persona que reporta</th>
                                            <th>Estado del objeto</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for object in objects_db %}
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#objectModal{{ object.lost_report_id }}" class="text-decoration-none d-flex align-items-center">
                                                    <img height="32 rem" src="assets/img/uploads/{{ object.object_photo }}" class="rounded me-2" alt="{{ object.filename }}">
                                                    <span>{{ object.object_name }}</span>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>{{ object.category_name }}</td>
                                            <td>{{ object.found_place }}</td>
                                            <td>{{ object.found_date }}</td>
                                            <td>{{ object.user_name }}</td>
                                            <td>
                                                {% if object.object_status == "lost" %}
                                                    perdido
                                                {% elif object.object_status == "returned" %}
                                                    devuelto
                                                {% elif object.object_status == "found" %}
                                                    encontrado
                                                {% else %}
                                                estado desconocido
                                                {% endif %}                                        
                                            </td>
                                            <td>
                                                {% if object.object_status == "lost" or object.object_status == "found" %}
                                                <a href="{{ url_for('found_objects_bp.founded_report', object_id=object.object_id) }}" 
                                                class="btn btn-primary btn-sm">
                                                Reportar como devuelto
                                                </a>
                                                {% else %}
                                                Este objeto ya ha sido devuelto
                                                {% endif %}                                        
                                            </td>
                                        </tr>

                                        <div class="modal fade" id="objectModal{{ object.lost_report_id }}" tabindex="-1" aria-labelledby="objectModalLabel{{ object.lost_report_id }}" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="objectModalLabel{{ object.lost_report_id }}">{{ object.object_name }}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img width="120 rem" src="assets/img/uploads/{{ object.object_photo }}" class="img-fluid rounded mb-3" alt="{{ object.filename }}">
                                                    <p><strong>Categoria:</strong> {{ object.category_name }}</p>
                                                    <p><strong>Lugar perdido:</strong> {{ object.found_place }}</p>
                                                    <p><strong>Fecha:</strong> {{ object.found_date }}</p>
                                                    <p><strong>Reportado por:</strong> {{ object.user_name }}</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                </div>
                                                </div>
                                            </div>
                                        </div>

                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='demo/chart-area-demo.js') }}"></script>
        <script src="{{ url_for('static', filename='demo/chart-bar-demo.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/datatables-simple-demo.js') }}"></script>
    </body>
</html>
